*.class
*.log

# Package Files #
*.jar
*.war
*.ear

.classpath
*.prefs

*.checkstyle

*.pmd

*.project

*.tmp
/*/gen/*.*
/*/gen/*/*.*
/*/tmp/*.*
/*/tmp/*/*.*
!.keep
ogvic.properties
build-javadoc.xml
target
bin
/build/editing/*.ttl
!/build/editing/*.template.ttl
/oldscripts
