*.class

# Package Files #
*.jar
*.war
*.ear

org.purl.rvl.tooling.rvl-interpreter/.classpath

org.purl.rvl.tooling.codegen.rdfreactor/.classpath

org.purl.rvl.tooling.codegen.rdfreactor/src/main/java/org/purl/rvl/interpreter/gen/*.*

org.purl.rvl.tooling.rvl-interpreter/gen/avm.ttl

*.prefs

org.purl.rvl.tooling.d3vis/gen/json/graph-data.json

org.purl.rvl.tooling.d3vis/gen/json/tree-data.json

org.purl.rvl.vocabulary/gen/tempAVM.ttl
