body {
}

#container {
}

.layout {
  /*border: 1px solid yellow;*/
}

#row  {
  /*padding: 3px;*/
}

#footer  {
  /*display: table-row;*/
  	background-color: #ffc;
  	display:none;
}

#header  {
  /*display: table-row;*/
  display:none;
}

#middle {
	background-color: #fee;
}
  
#left {
	background-color: #eff;
}

#right {
	background-color: #efe;
}
  
#canvas {
}

#menu {
	background-color: #cff;
}

#editor {
	background-color: #cfc;
	
}

input, button, select {
/* 	display:none; */
}

form input, form textarea {
}

form textarea {
/* 	  display:none; */
}

#svg {
	background-color: #fcc;
	display:none;
}