body {
	/*background-color: #334;*/
}

#svg {
	background-color: #334;
}


/* set to whatever the body-background-color is */
.svgSymbol, .packedCircle {
	stroke: #334;
   	fill: #ccc;
}

marker#uml_generalization_arrow {
	fill: #334;
}