body {
	background-color: #fff;
}

a:hover {
	color:blue;
}


/* set to whatever the body-background-color is */
.svgSymbol, .packedCircle {
	stroke: #fff;
   	fill: #666;
}

circle.node.highlighted.identical,
.node.highlighted path,
.node.highlighted circle {
	stroke: #ffe900;
}

.node.highlighted.identical path,
.node.highlighted.identical circle {
	stroke: #ffe900;
}

.linking_connector {
    stroke-opacity: .65;
}

.linking_connector.highlighted {
	stroke-opacity: 1;
    stroke: #ffe900 ! important;
}

.label {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

marker#uml_generalization_arrow {
	fill: #fff;
}