#org.purl.rvl.tooling.max-graphic-relations-per-mapping=200
#org.purl.rvl.tooling.use-case-folder=/Users/Jan/Projekte/Beruf/Promotion/Recherche/CaseStudies
#org.purl.rvl.tooling.use-case-folder=/Users/Jan/Documents/EclipseWorkspace/SemVisRecherche/CaseStudies