div.labelContainerContainer {
	/*border:1px dotted green;*/
	position:absolute;
	padding:0px;
	margin:0px;
}

div.labelContainer {
   /*border:1px dotted blue;*/
    padding:0px;
    position:absolute;
	margin:0px;
}

.label {
    border-color:red;
	/*margin:-10px;*/ /* will be set by JS */
}

#labelContainerSpace {
	position:absolute;
	z-index: 2;
    /*border:1px dotted green;*/
}

#svgSpace {
	position:absolute;
	z-index: 1;
	/*border:3px solid red;*/
}

.svgLabelIcon {
	/*background-color: green;*/
	top:0px;
	left:0px;
	overflow: visible; /* ignored by webkit, see this bug : https://bugs.webkit.org/show_bug.cgi?id=96163 ; leads to some cropping of the symbols */
}

.svgLabelText{
	/*background-color: yellow;*/
	top:0px;
	left:0px;
	overflow: visible; /* ignored by webkit, see this bug : https://bugs.webkit.org/show_bug.cgi?id=96163 ; leads to some cropping of the symbols */
}

.svgLabelText text.nodeLabelShadow {
    stroke: white;
    stroke-width: 4px;
    stroke-opacity: .8;
}

.svgLabelIcon path {
	/*filter:url(#blur-effect-2);*/ /* problems in firefox, when not in one html page? */
}

.htmlTextLabel {
	color:white;
	/*background-color: green;*/
	font-family: Arial;
  	font-size: 12px;
	text-align: center;
	width:100%; /* change to 0px or 5px allow for correct positiong of text */
	height:100%;
	word-wrap:break-word;
}


