body {
	background-color: #334;
}

/* nodes */

.node circle, .node path {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 1.5px;
  cursor: pointer;
}


.node.highlighted path,
.node.highlighted circle {
	stroke: yellow;
	stroke-width: 10px;
	/*filter:url(#blur-effect-2);*/ /* problems in firefox, when not in one html page? */
	stroke-opacity:1;
}

.node.highlighted.identical path,
.node.highlighted.identical circle {
	stroke: yellow;
}

/*
.node:hover, .node.highlighted {
	stroke: yellow;
	stroke-width: 10px;
	stroke-opacity:1;
}


.node.highlighted.identical {
	stroke: yellow;
}
*/

.node--root {
  fill: black;
  /*stroke: black;*/
}

.node--leaf {
  fill: white;
}

/* general labels */

.label {
  font-family: Arial;
  font-size: 12px;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; /* not yet supported in firefox it seems */
}

/* node labels */

.node text { /* strange: "text" alone does not work */
  font-size: 12px;
  font-family: Arial;
   fill: black;
}

/*
.node text.nodeLabel {

}*/

.node text.nodeLabelShadow {
    stroke: white;
    stroke-width: 4px;
    stroke-opacity: .8;
}

.node.highlighted text.nodeLabelShadow {
	stroke: yellow;
	/*filter:url(#blur-effect-2);*/ /* problems in firefox, when not in one html page? */
	stroke-opacity:.4;
}

.node.highlighted.identical text.nodeLabelShadow {
	stroke: yellow;
	stroke-opacity:.4;
}

.connectorGroup .label {
  fill: #555;
  font-size: 10px;
  text-anchor: middle;
  text-shadow: 0 1px 0 #ccc, 1px 0 0 #ccc, -1px 0 0 #ccc, 0 -1px 0 #ccc;
  /*visibility: hidden;*/
}

.connectorGroup .label text {
  visibility: hidden;
}

/**/
.connectorGroup .label path {
  fill-opacity: .6;
  transform: scale(0.5);
}

.connectorGroup:hover .label {
  fill: black;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  visibility: visible;
}

.connectorGroup:hover .link {
  stroke: yellow ! important;
}

/* links and arrows */

path.link {
	fill: none;
    stroke: #ccc;
    stroke-opacity: .6;
    stroke-width: 7px;
}

path.link.tree {
  /* stroke-width: 1.5px; */
}

path.link.highlighted {
    /*stroke-width: 10px;*/
    stroke: yellow ! important;
}

marker#linkUndirected {
    fill: #0000ff;
}

marker#linkDirected {
    fill: #00ff00;
}

marker#link {
    fill: #ccc;
}

marker#arrow {
    fill: #ccc;
}


marker#uml_generalization_arrow {
	fill: #334;
    stroke: #ccc;
    stroke-opacity: 1;
    stroke-width: 1.5px;
	vector-effect: non-scaling-stroke;
	overflow: visible;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: miter;
	/*markerUnits: userSpaceOnUse;*/
	
}

.haarlinie {
	stroke:red;
	vector-effect: non-scaling-stroke;
	/*shape-rendering: crispEdges; */ /*optimizeSpeed*/
	stroke-width: 1.5px;
}
