/*******************************************************************/
/* SETTINGS AND SCRIPTS SPECIFIC TO A CONCRETE INSTALLATION/INSTANCE 
 * OF THIS SOFTWARE   */
/*******************************************************************/


